footer{
    background-color: #059862;
}

.social{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 50px;
    justify-content: space-around;
    margin-top: 100px;

}

.foo{
    color: #eee;
}
.foo:hover{
    color: #444;
    text-decoration: none;
}
.svgcolor{
    fill: #eee;
}

.svgcolor:hover{
    fill: #444;
}













