nav{
    background-color: #eee;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 0px;
    padding-top:-22px !important ;
    font-weight: bold;
    border-bottom: 1px solid gray;
    position: fixed !important;
    z-index: 20;

    

    
}


nav a{
    color: #059862 !important;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: right;
}

nav a:hover{
    border: 1px solid #059862 ;
    box-sizing: border-box;

}

nav img{
    height: auto;
    width: 50px;
    max-width: 100%;
}
nav #lastnav{
    border: 3px solid #059862 ;
    box-sizing: border-box;
    background-color: #059862;
    color: #fff !important;
    margin-left: 2px;

}
nav #lastnav:hover{
    background-color: transparent;
    color: #059862 !important;
    transition: .2s ease-in-out;
}

.imgg:hover{
    border: none;
}