.numbers{
    background-color: #a82d49;
    padding: 25px 0;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}
.numbers .row{
    margin: 10px 0;
}
.numbers h2{
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
    color: #fff;
    font-family: 'Tajawal', 
}
.numbers h6{
    text-transform: uppercase;
    color: #fff;
    font-family: 'Tajawal';
    font-weight: bold;
    letter-spacing: 1px;
    
}
/* -- pride and ingredients and paralex section  common properties */
.pride , .ingredients{
   background-color: transparent;
   padding: 25px 0;
   max-width: 100%;
   height: auto;
   overflow: hidden;
   margin-top: 50px;
}

.pride img ,
.ingredients img {
    border-radius: 10px;
    height: 350px;
    width: auto;
    max-width: 100%;
}

.pride h2 ,
.ingredients h2 ,
.paralex h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0;
    width: 90%;
    color: #77132b;
    font-family: 'Tajawal';
    line-height: 50px;
    
}
.pride p ,
.ingredients p ,
.paralex p{
    font-size: 16px;
    line-height: 28px;
    color: #333;
    font-family: 'Tajawal';
    margin-top: 15px;
}
.pride button ,
.ingredients button {
    background-color: #a82d49;
    border: 1px solid #a82d49 ;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    transition: .2 ease;

}

.pride button a ,
.ingredients button a{
    display: block;
    color: #fff;
    font-family: 'Tajawal';
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.pride button:hover a ,
.ingredients button:hover a{
    color: #77132b;
}
.pride button:hover ,
.ingredients button:hover{
    background-color: #fff;
}
/* ------------------------------- */
 


.ingredients ul li{
    list-style-type: square;
    font-family: "Tajawal";
    color: #333;
    margin-top: 10px;
}
.ingredients ul {
    padding: 0;
}

/* ---paralex-- */

.paralex{
    background-image: url('../../images/paralex.jpg')   ;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 50px 0;
    text-align: center;
    
}

.paralex .row{
    margin: 50px 0;
}

.paralex h2{
    width: 100%;
    margin: 20px 0;
}

.paralex p{
    color: #444;
    margin:20px 0;
    line-height: 28px;
    
}

.paralex a{
    color: #77132b;
    font-size: 20px;
    margin: 20px 0 ;
    font-family: 'Tajawal';
    text-decoration: none !important;

}

/* blogs section */

.blogs{
    margin-top: 50px;
    padding: 25px 0;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.blogs .row:first-child{
     text-align:center;
     margin: 25px 0;
}
.blogs h2{
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
    width: 100%;
    color: #77132b;
    font-family: 'Tajawal';
    line-height: 50px;
}
.blogs p{
    font-size: 16px;
    line-height: 28px;
    color: #333;
    font-family: 'Tajawal';
    margin-top: 15px;
}
.blogs .box img{
    max-width: 100%;

}
.blogs .box{
    width: 100%;
    max-width: 100%;
    height: auto ;
    overflow: hidden ;
    box-sizing: border-box; 
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #f6f6f6;
}
.blogs .box h5{
    color: #77132b;
    font-family: 'Tajawal';
    font-size: 22px;
    margin: 15px 0;
    font-weight: bold;
}

.blogs .box span{
    display: block;
    color: #444;
     font-family: 'Tajawal';
     font-size: 16px;
     margin: 10px 0;
     text-transform: uppercase;
     letter-spacing: 1px;

}

.blogs .box h6{
    color: #740c24;
    font-size: 25px;
    font-family: 'Tajawal';
    font-weight: bold;

}
.blogs button {
    width: 140px;
    height: 40px;
    text-align: center;
    background-color: #740c24;
    border: 1px solid #740c24;
    box-sizing: border-box;
    margin: 10px 0;
    transition: .3s ease-in-out;
}

/* blog with subscribe have common button */

.blogs button a ,
.subscribe button a{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Tajawal';
    font-size: 15px;
    font-weight: bold;
    text-decoration: none !important;
    letter-spacing: 1px;
}
.blogs button:hover ,
.subscribe button:hover{
    background-color: transparent; 
}

.blogs button:hover a ,
.subscribe button:hover a{
    color: #740c24;
}

/* slider section  */

.slider{
    background-color: #a82d49;
    border: 1px solid #a82d49;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 50px 0;
    margin: 50px 0;

}
.slider img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px 0;
    margin-bottom: 150px;

}

.slider h2{
    color: #fff;
    font-size: 40px;
    margin: 30px 0;
    letter-spacing: 1px;
}

.slider .carousel-caption p{
color: #212121;
font-size: 17px;
line-height: 30px;
}

.slider .carousel-caption span{
color: #77132b;
display: block;
margin: 15px 0;
text-transform: uppercase;
font-size: 17px;

}

.slider .carousel{
    background-color: #fff;
    margin: 40px 0;
    border:1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px 0;
}

.slider .carousel-indicators{
position: absolute;
right: 0;
bottom: 0;
left: 0;
z-index: 15;
display: flex;
justify-content: center;
padding-left: 0;
margin-right: 15%;
margin-left: 15%;
list-style: none;

}
.slider .carousel-indicators button{
width: 15px;
height: 15px;
background-color: #77132b;
border:1px solid #77132b;
margin: 5px 5px 15px 5px;
border-radius: 50%;
}

/* questions section  */

.questions h4{
    color: #77132b;
    font-family: 'Tajawal';
    font-size: 22px;
    margin: 15px 0;
    font-weight: bold;
    width: 100%;
    max-width: 100%;
}
.questions p{
    font-size: 16px;
    line-height: 28px;
    color: #212121;
    font-family: 'Tajawal';
    margin-top: 15px;
}
.questions .qhead{
    width: 100%;
    text-align: center;
    color: #77132b;
    font-family: 'Tajawal';
    font-size: 38px;
    margin: 20px 0;
    font-weight: bold;
    max-width: 100%;
}

.questions span{
    color: #f98169;
    font-size: 28px;
    font-family: ubuntu;
    font-weight: 300;
    vertical-align: middle;
}



/* subscribe section  */

.subscribe{
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.subscribe h2{
    color: #740c24;
    font-family: 'Tajawal';
    font-size: 48px;
    margin: 15px 0;
    font-weight: bold;
    width: 70%;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.subscribe p{
    font-size: 16px;
    line-height: 28px;
    color: #212121;
    font-family: 'Tajawal';
    margin-top: 15px;
}


.subscribe button{
    width: 140px;
    height: 50px;
    text-align: center;
    background-color: #740c24;
    border: 1px solid #740c24;
    box-sizing: border-box;
    margin: 10px 0;
    transition: .3s ease-in-out;
}


.subscribe input{
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 400;
    width: 40%;
    border: none;
    border-radius: 0px;
    background: transparent;
    border: 3px solid #e5e5e5;
    color: #000;
    font-weight: 700;
    margin-right: 20px;
}